<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lingyi.movieselector" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/GoldenMovie"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".welcome"
            android:label="@string/GoldenMovie" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".activity" /> -->
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Search"
            android:label="Find Your Movie" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Home" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".Login"
            android:label="Login" >
        </activity>
        <activity
            android:name=".Rating"
            android:label="Movie" >
        </activity>
        <activity
            android:name=".GetYourRecommendation"
            android:label="@string/title_activity_get_your_recommendation" >
        </activity>
        <activity
            android:name=".Comment"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".Edit"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".UserPage"
            android:label="@string/title_activity_user_page" >
        </activity>
        <!--<activity-->
            <!--android:name=".welcome"-->
            <!--android:label="welcome">-->
        <!--</activity>-->
    </application>

</manifest>
